<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PHP Editor</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app">
      <div class="editor-wrapper">
        <div class="toolbar">
          <button id="select-project" @click="selectDirectory">Select Project</button>
          <button id="run-code" @click="runCode" :disabled="isExecuting">Run Code</button>
          <button id="editor-settings" @click="isModalOpen = true">Settings</button>
        </div>
        
        <monaco-editor @editor-mounted="onEditorMounted" />
        
        <div id="output-container" v-html="outputText"></div>
      </div>

      <!-- Settings Modal -->
      <div id="settings-modal" :class="{ hidden: !isModalOpen }" @click="isModalOpen = false">
        <div class="modal-content" @click.stop>
          <h2>Editor Settings</h2>
          <div class="settings-group">
            <label>
              Font Size:
              <input type="number" v-model.number="settings.fontSize" min="8" max="30">
            </label>
            
            <label>
              Tab Size:
              <input type="number" v-model.number="settings.tabSize" min="2" max="8">
            </label>
            
            <label>
              Word Wrap:
              <input type="checkbox" v-model="settings.wordWrap">
            </label>
            
            <label>
              Minimap:
              <input type="checkbox" v-model="settings.minimap">
            </label>
            
            <label>
              Font Ligatures:
              <input type="checkbox" v-model="settings.fontLigatures">
            </label>
          </div>
          
          <div class="modal-buttons">
            <button id="close-settings" @click="isModalOpen = false">Cancel</button>
            <button id="save-settings" @click="saveSettings">Save</button>
          </div>
        </div>
      </div>
    </div>

    <script src="node_modules/monaco-editor/min/vs/loader.js"></script>
    <script type="module" src="renderer.js"></script>
  </body>
</html>
